/*
 * Globals
 */

@font-face {
  font-family: 'Bebas Neue';
  src: url('/static/fonts/BebasNeue-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'PressStart2P';
  src: url('/static/fonts/PressStart2P-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/*
 * Base structure
 */

html {
  overflow-y: hidden;
}
body {
  background: rgb(33,37,41);
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.5px;
  xtext-shadow: 2px 2px 3px #F7941E90;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/*
 * Header
 */

.cursor::after{
  display: inline-block;

  content: "";
  width: 3px;
  height: 28px;

  margin-bottom: -6px;
  margin-left: 4px;

  background: #F7941E;
  -webkit-animation: blink 1.5s infinite;
}

@keyframes blink {
  0% { opacity: 0 }
  50% { opacity: 100% }
  100% { opacity: 0 }
}

/*
Navbar
 */

.navbar-item {
  color: hsl(0, 0%, 71%);
}

a.navbar-item:hover {
  background-color: transparent;
  color: #9b4cfd;
}

/* Toast */
.toast{
  text-shadow: none;
  color: black;
}

#theAuthModal {
  color: white;
}

#theAuthModal .modal-content {
  background-color: rgba(0,0,0,.85);
  font-family: 'PressStart2P';
  color: white;
}

#theAuthModal .modal-header {
  border-color: black;
}
#theAuthModal .modal-body {
  font-size: 12px;
  text-align: left;
  color: orange;
}

iframe::-webkit-scrollbar {
  display: none;
}

#theAuthModal .iframe-container {
  overflow: hidden;
}

#theAuthModal .modal-iframe {
 background-color: white;
  border: 0px none;
  width:500px;
  height: 353px;
  margin-left: -17px;
  margin-top: -100px;
}


#theAuthModal .header-auth {
  width: 320px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .5em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: typing-auth 2.5s steps(17, end),
          blink-caret .5s step-end infinite;
}

#theAuthModal .header-error {
  width: 120px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .5em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: typing-error 1.0s steps(6, end),
  blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing-auth {
  from { width: 0 }
  to { width: 320px }
}

@keyframes typing-error {
  from { width: 0 }
  to { width: 120px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.gatherAvatar {
  /* Original 512px x 64px */
  width: 32px;
  height: 64px;
}

.gatherAvatar-footer {
  display: inline-block;
  width: 23px;
  height: 24px;

  background-size: 360px 45px;
  background-position: 1px -17px;
}

.avatar {
  position: relative;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid white;
}

.avatar img {
  position: absolute;
  top: 0;
  left: 0;
}

.avatar img.skin { z-index: 1; }
.avatar img.hair { z-index: 2; }

.avatar img.skin {
  top: 12px;
  left: 12px;
}
